@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.header {
  width: 100%;
  min-height: 5em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2901960784);
  text-align: center;
  margin-bottom: 6.25em;
}
.header__title, .header__menu-logo {
  display: inline;
  margin-bottom: 1.25em;
}
.header__title {
  width: 70%;
  float: left;
}
.header__title #headTitle {
  font-family: "raleway";
  font-weight: 300;
  font-size: 2rem;
  margin: 0.5em 0;
  color: #08A6E4;
}
.header__menu-logo {
  width: 20%;
  float: right;
}
.header__menu-logo #menuLogo {
  width: 20px;
  height: 12px;
  margin: 1.8em 0;
}
.header__menu {
  clear: both;
  display: none;
}
.header__menu-nav {
  margin-bottom: 1.25em;
  padding: 1.5em;
  text-align: left;
}
.header__menu-nav .navList {
  list-style: none;
}
.header__menu-nav .navList__item {
  margin-bottom: 1.25em;
}
.header__menu-nav .navList__item a {
  text-decoration: none;
  font-family: "open sans";
  font-weight: 700;
  font-size: 0.7rem;
  letter-spacing: 0.2rem;
  color: #A5A5A5;
}
.header__menu-nav .navList__item a:hover {
  color: #000000;
}

@media only screen and (min-width: 1000px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__title {
    width: 40%;
    text-align: left;
    margin-bottom: 0;
  }
  .header__menu-logo {
    display: none;
  }
  .header__menu {
    width: 50%;
    display: inline;
    margin: 0;
  }
  .header__menu-nav {
    padding: 0;
    margin: 0;
  }
  .header__menu-nav .navList {
    display: flex;
  }
  .header__menu-nav .navList__item {
    display: inline-flex;
    margin-bottom: 0;
  }
  .header__menu-nav .navList__item a {
    padding: 2.7em 0;
  }
  .header__menu-nav .navList__item a:hover {
    border-bottom: solid 4px #08A6E4;
  }
}
.opening-section {
  width: 80%;
  margin-bottom: 1.25em;
}
.opening-section__title {
  margin-bottom: 1.25em;
}
.opening-section__title h2 {
  font-family: "raleway";
  font-weight: 400;
  font-size: 2rem;
}
.opening-section__descrip {
  padding: 0 1.5em;
  margin-bottom: 1.25em;
}
.opening-section__descrip p {
  font-family: "open sans";
  font-weight: 400;
  font-size: 1rem;
}
.opening-section .btn--section-opening {
  padding: 1.5em 5.5em;
  border-radius: 40px;
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.1607843137);
  font-size: 1rem;
}

.popular-data {
  width: 80%;
  margin-bottom: 1.25em;
}
.popular-data__title {
  padding: 0 1.5em;
  margin-bottom: 2.5em;
}
.popular-data__title #data-title {
  font-family: "raleway";
  font-weight: 300;
  font-size: 1.9rem;
}
.popular-data__column1, .popular-data__column2, .popular-data__column3 {
  width: 100%;
  margin-bottom: 1.25em;
}
.popular-data__column1 .column1__img, .popular-data__column1 .column1__descrip, .popular-data__column1 .column2__img, .popular-data__column1 .column2__descrip, .popular-data__column1 .column3__img, .popular-data__column1 .column3__descrip, .popular-data__column2 .column1__img, .popular-data__column2 .column1__descrip, .popular-data__column2 .column2__img, .popular-data__column2 .column2__descrip, .popular-data__column2 .column3__img, .popular-data__column2 .column3__descrip, .popular-data__column3 .column1__img, .popular-data__column3 .column1__descrip, .popular-data__column3 .column2__img, .popular-data__column3 .column2__descrip, .popular-data__column3 .column3__img, .popular-data__column3 .column3__descrip {
  width: 60%;
  margin-bottom: 0.625em;
}
.popular-data__column1 .column1__img .quantity, .popular-data__column1 .column1__descrip .quantity, .popular-data__column1 .column2__img .quantity, .popular-data__column1 .column2__descrip .quantity, .popular-data__column1 .column3__img .quantity, .popular-data__column1 .column3__descrip .quantity, .popular-data__column2 .column1__img .quantity, .popular-data__column2 .column1__descrip .quantity, .popular-data__column2 .column2__img .quantity, .popular-data__column2 .column2__descrip .quantity, .popular-data__column2 .column3__img .quantity, .popular-data__column2 .column3__descrip .quantity, .popular-data__column3 .column1__img .quantity, .popular-data__column3 .column1__descrip .quantity, .popular-data__column3 .column2__img .quantity, .popular-data__column3 .column2__descrip .quantity, .popular-data__column3 .column3__img .quantity, .popular-data__column3 .column3__descrip .quantity {
  font-family: "raleway";
  font-weight: 800;
  font-size: 1.3rem;
  letter-spacing: 0.4rem;
  margin-bottom: 0.625em;
}
.popular-data__column1 .column1__img .quantity-descrip, .popular-data__column1 .column1__descrip .quantity-descrip, .popular-data__column1 .column2__img .quantity-descrip, .popular-data__column1 .column2__descrip .quantity-descrip, .popular-data__column1 .column3__img .quantity-descrip, .popular-data__column1 .column3__descrip .quantity-descrip, .popular-data__column2 .column1__img .quantity-descrip, .popular-data__column2 .column1__descrip .quantity-descrip, .popular-data__column2 .column2__img .quantity-descrip, .popular-data__column2 .column2__descrip .quantity-descrip, .popular-data__column2 .column3__img .quantity-descrip, .popular-data__column2 .column3__descrip .quantity-descrip, .popular-data__column3 .column1__img .quantity-descrip, .popular-data__column3 .column1__descrip .quantity-descrip, .popular-data__column3 .column2__img .quantity-descrip, .popular-data__column3 .column2__descrip .quantity-descrip, .popular-data__column3 .column3__img .quantity-descrip, .popular-data__column3 .column3__descrip .quantity-descrip {
  font-family: "raleway";
  font-weight: 400;
  font-size: 1.05rem;
  color: #A5A5A5;
}
.popular-data__column1 .column1__img .ellipse_img--ellipse1-position, .popular-data__column1 .column1__img .ellipse_img--ellipse3-position, .popular-data__column1 .column1__descrip .ellipse_img--ellipse1-position, .popular-data__column1 .column1__descrip .ellipse_img--ellipse3-position, .popular-data__column1 .column2__img .ellipse_img--ellipse1-position, .popular-data__column1 .column2__img .ellipse_img--ellipse3-position, .popular-data__column1 .column2__descrip .ellipse_img--ellipse1-position, .popular-data__column1 .column2__descrip .ellipse_img--ellipse3-position, .popular-data__column1 .column3__img .ellipse_img--ellipse1-position, .popular-data__column1 .column3__img .ellipse_img--ellipse3-position, .popular-data__column1 .column3__descrip .ellipse_img--ellipse1-position, .popular-data__column1 .column3__descrip .ellipse_img--ellipse3-position, .popular-data__column2 .column1__img .ellipse_img--ellipse1-position, .popular-data__column2 .column1__img .ellipse_img--ellipse3-position, .popular-data__column2 .column1__descrip .ellipse_img--ellipse1-position, .popular-data__column2 .column1__descrip .ellipse_img--ellipse3-position, .popular-data__column2 .column2__img .ellipse_img--ellipse1-position, .popular-data__column2 .column2__img .ellipse_img--ellipse3-position, .popular-data__column2 .column2__descrip .ellipse_img--ellipse1-position, .popular-data__column2 .column2__descrip .ellipse_img--ellipse3-position, .popular-data__column2 .column3__img .ellipse_img--ellipse1-position, .popular-data__column2 .column3__img .ellipse_img--ellipse3-position, .popular-data__column2 .column3__descrip .ellipse_img--ellipse1-position, .popular-data__column2 .column3__descrip .ellipse_img--ellipse3-position, .popular-data__column3 .column1__img .ellipse_img--ellipse1-position, .popular-data__column3 .column1__img .ellipse_img--ellipse3-position, .popular-data__column3 .column1__descrip .ellipse_img--ellipse1-position, .popular-data__column3 .column1__descrip .ellipse_img--ellipse3-position, .popular-data__column3 .column2__img .ellipse_img--ellipse1-position, .popular-data__column3 .column2__img .ellipse_img--ellipse3-position, .popular-data__column3 .column2__descrip .ellipse_img--ellipse1-position, .popular-data__column3 .column2__descrip .ellipse_img--ellipse3-position, .popular-data__column3 .column3__img .ellipse_img--ellipse1-position, .popular-data__column3 .column3__img .ellipse_img--ellipse3-position, .popular-data__column3 .column3__descrip .ellipse_img--ellipse1-position, .popular-data__column3 .column3__descrip .ellipse_img--ellipse3-position {
  margin-left: -1em;
}
.popular-data__column1 .column1__img .ellipse_img--ellipse2-position, .popular-data__column1 .column1__descrip .ellipse_img--ellipse2-position, .popular-data__column1 .column2__img .ellipse_img--ellipse2-position, .popular-data__column1 .column2__descrip .ellipse_img--ellipse2-position, .popular-data__column1 .column3__img .ellipse_img--ellipse2-position, .popular-data__column1 .column3__descrip .ellipse_img--ellipse2-position, .popular-data__column2 .column1__img .ellipse_img--ellipse2-position, .popular-data__column2 .column1__descrip .ellipse_img--ellipse2-position, .popular-data__column2 .column2__img .ellipse_img--ellipse2-position, .popular-data__column2 .column2__descrip .ellipse_img--ellipse2-position, .popular-data__column2 .column3__img .ellipse_img--ellipse2-position, .popular-data__column2 .column3__descrip .ellipse_img--ellipse2-position, .popular-data__column3 .column1__img .ellipse_img--ellipse2-position, .popular-data__column3 .column1__descrip .ellipse_img--ellipse2-position, .popular-data__column3 .column2__img .ellipse_img--ellipse2-position, .popular-data__column3 .column2__descrip .ellipse_img--ellipse2-position, .popular-data__column3 .column3__img .ellipse_img--ellipse2-position, .popular-data__column3 .column3__descrip .ellipse_img--ellipse2-position {
  margin-left: -0.9em;
}
.popular-data__column1 .column1__img .person-img, .popular-data__column1 .column1__descrip .person-img, .popular-data__column1 .column2__img .person-img, .popular-data__column1 .column2__descrip .person-img, .popular-data__column1 .column3__img .person-img, .popular-data__column1 .column3__descrip .person-img, .popular-data__column2 .column1__img .person-img, .popular-data__column2 .column1__descrip .person-img, .popular-data__column2 .column2__img .person-img, .popular-data__column2 .column2__descrip .person-img, .popular-data__column2 .column3__img .person-img, .popular-data__column2 .column3__descrip .person-img, .popular-data__column3 .column1__img .person-img, .popular-data__column3 .column1__descrip .person-img, .popular-data__column3 .column2__img .person-img, .popular-data__column3 .column2__descrip .person-img, .popular-data__column3 .column3__img .person-img, .popular-data__column3 .column3__descrip .person-img {
  position: absolute;
  margin-left: -2em;
  margin-top: 0.2em;
}
.popular-data__column1 .column1__img .eye-img, .popular-data__column1 .column1__descrip .eye-img, .popular-data__column1 .column2__img .eye-img, .popular-data__column1 .column2__descrip .eye-img, .popular-data__column1 .column3__img .eye-img, .popular-data__column1 .column3__descrip .eye-img, .popular-data__column2 .column1__img .eye-img, .popular-data__column2 .column1__descrip .eye-img, .popular-data__column2 .column2__img .eye-img, .popular-data__column2 .column2__descrip .eye-img, .popular-data__column2 .column3__img .eye-img, .popular-data__column2 .column3__descrip .eye-img, .popular-data__column3 .column1__img .eye-img, .popular-data__column3 .column1__descrip .eye-img, .popular-data__column3 .column2__img .eye-img, .popular-data__column3 .column2__descrip .eye-img, .popular-data__column3 .column3__img .eye-img, .popular-data__column3 .column3__descrip .eye-img {
  position: absolute;
  margin-left: -2.5em;
  margin-top: 0.8em;
}
.popular-data__column1 .column1__img .catalog-img, .popular-data__column1 .column1__descrip .catalog-img, .popular-data__column1 .column2__img .catalog-img, .popular-data__column1 .column2__descrip .catalog-img, .popular-data__column1 .column3__img .catalog-img, .popular-data__column1 .column3__descrip .catalog-img, .popular-data__column2 .column1__img .catalog-img, .popular-data__column2 .column1__descrip .catalog-img, .popular-data__column2 .column2__img .catalog-img, .popular-data__column2 .column2__descrip .catalog-img, .popular-data__column2 .column3__img .catalog-img, .popular-data__column2 .column3__descrip .catalog-img, .popular-data__column3 .column1__img .catalog-img, .popular-data__column3 .column1__descrip .catalog-img, .popular-data__column3 .column2__img .catalog-img, .popular-data__column3 .column2__descrip .catalog-img, .popular-data__column3 .column3__img .catalog-img, .popular-data__column3 .column3__descrip .catalog-img {
  position: absolute;
  margin-left: -1.9em;
  margin-top: 0.4em;
}

@media only screen and (min-width: 1000px) {
  .popular-data {
    width: 80%;
    margin-bottom: 1.25em;
    display: flex;
    flex-wrap: wrap;
  }
  .popular-data__title {
    width: 100%;
  }
  .popular-data__column1, .popular-data__column2, .popular-data__column3 {
    width: 30%;
  }
}
.groups {
  width: 80%;
  margin-bottom: 1.25em;
}
.groups .group1, .groups .group2, .groups .group3 {
  text-align: left;
  margin-bottom: 1.25em;
  padding: 0.9em;
}
.groups .group1__img, .groups .group2__img, .groups .group3__img {
  text-align: center;
}
.groups .group1__img, .groups .group1__title, .groups .group1__descrip, .groups .group2__img, .groups .group2__title, .groups .group2__descrip, .groups .group3__img, .groups .group3__title, .groups .group3__descrip {
  margin-bottom: 1.25em;
}
.groups .group1__img .group-title, .groups .group1__title .group-title, .groups .group1__descrip .group-title, .groups .group2__img .group-title, .groups .group2__title .group-title, .groups .group2__descrip .group-title, .groups .group3__img .group-title, .groups .group3__title .group-title, .groups .group3__descrip .group-title {
  font-family: "raleway";
  font-weight: 400;
  font-size: 1.9rem;
}
.groups .group1__img .group__descrip-txt, .groups .group1__title .group__descrip-txt, .groups .group1__descrip .group__descrip-txt, .groups .group2__img .group__descrip-txt, .groups .group2__title .group__descrip-txt, .groups .group2__descrip .group__descrip-txt, .groups .group3__img .group__descrip-txt, .groups .group3__title .group__descrip-txt, .groups .group3__descrip .group__descrip-txt {
  font-family: "open sans";
  font-weight: 400;
  font-size: 0.9rem;
}
.groups .group1__img #macbook, .groups .group1__title #macbook, .groups .group1__descrip #macbook, .groups .group2__img #macbook, .groups .group2__title #macbook, .groups .group2__descrip #macbook, .groups .group3__img #macbook, .groups .group3__title #macbook, .groups .group3__descrip #macbook {
  position: absolute;
  margin-top: 4em;
  margin-left: 1.5em;
}
.groups .group1__img #frame, .groups .group1__title #frame, .groups .group1__descrip #frame, .groups .group2__img #frame, .groups .group2__title #frame, .groups .group2__descrip #frame, .groups .group3__img #frame, .groups .group3__title #frame, .groups .group3__descrip #frame {
  margin: 1.6em 0 1.6em 7em;
}
.groups .group1__img #iphone, .groups .group1__title #iphone, .groups .group1__descrip #iphone, .groups .group2__img #iphone, .groups .group2__title #iphone, .groups .group2__descrip #iphone, .groups .group3__img #iphone, .groups .group3__title #iphone, .groups .group3__descrip #iphone {
  position: absolute;
  margin: 0.5em 0 0 -8.2em;
}
.groups .group1__img #ellipse, .groups .group1__title #ellipse, .groups .group1__descrip #ellipse, .groups .group2__img #ellipse, .groups .group2__title #ellipse, .groups .group2__descrip #ellipse, .groups .group3__img #ellipse, .groups .group3__title #ellipse, .groups .group3__descrip #ellipse {
  margin-left: -2em;
}
.groups .group1__img #trumpet, .groups .group1__title #trumpet, .groups .group1__descrip #trumpet, .groups .group2__img #trumpet, .groups .group2__title #trumpet, .groups .group2__descrip #trumpet, .groups .group3__img #trumpet, .groups .group3__title #trumpet, .groups .group3__descrip #trumpet {
  position: absolute;
  margin: 1.6em 0 0 -0.5em;
}

@media only screen and (min-width: 1000px) {
  .groups {
    width: 100%;
  }
  .groups .group1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 90%;
  }
  .groups .group1__img {
    width: 40%;
    text-align: left;
  }
  .groups .group1__img #macbook {
    margin-left: -2em;
  }
  .groups .group1__img #frame {
    margin-left: 9em;
    margin-top: -0.5em;
  }
  .groups .group1 .group__text {
    width: 30%;
    padding-top: 3em;
  }
  .groups .group1 .group__text .group1__descrip--border-color {
    border-bottom: 4px solid #FB3B64;
  }
  .groups .group2, .groups .group3 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
  }
  .groups .group2__img, .groups .group3__img {
    width: 40%;
    margin: 0;
  }
  .groups .group2__img #iphone, .groups .group3__img #iphone {
    margin-left: -20em;
    margin-top: 1.5em;
  }
  .groups .group2__img #trumpet, .groups .group3__img #trumpet {
    margin-top: 6em;
    margin-left: 4em;
  }
  .groups .group2 .group__text, .groups .group3 .group__text {
    width: 30%;
    padding-top: 5em;
  }
  .groups .group2 .group__text .group2__descrip--border-color, .groups .group3 .group__text .group2__descrip--border-color {
    border-bottom: 4px solid #07ACE6;
  }
  .groups .group2 .group__text .group3__descrip--border-color, .groups .group3 .group__text .group3__descrip--border-color {
    border-bottom: 4px solid #55DFB4;
  }
}
.pricing {
  width: 80%;
  margin-bottom: 1.25em;
}
.pricing__title {
  margin-bottom: 1.25em;
}
.pricing__title .title--pricing-title {
  font-family: "raleway";
  font-weight: 400;
  font-size: 2rem;
}
.pricing__btn {
  width: 100%;
  clear: both;
}
.pricing__basic, .pricing__professional, .pricing__premium {
  width: 90%;
  margin-bottom: 2.5em;
  border: solid 1px;
  border-radius: 18px;
  height: 15em;
}
.pricing__basic .features, .pricing__professional .features, .pricing__premium .features {
  width: 50%;
  height: 80%;
  margin-bottom: 1.25em;
  float: right;
  text-align: left;
}
.pricing__basic .features__list, .pricing__professional .features__list, .pricing__premium .features__list {
  list-style: none;
  padding-top: 1em;
}
.pricing__basic .features__list .list-item__capacity, .pricing__basic .features__list .list-item__subDom, .pricing__basic .features__list .list-item__mail, .pricing__basic .features__list .list-item__licence, .pricing__basic .features__list .list-item__support, .pricing__professional .features__list .list-item__capacity, .pricing__professional .features__list .list-item__subDom, .pricing__professional .features__list .list-item__mail, .pricing__professional .features__list .list-item__licence, .pricing__professional .features__list .list-item__support, .pricing__premium .features__list .list-item__capacity, .pricing__premium .features__list .list-item__subDom, .pricing__premium .features__list .list-item__mail, .pricing__premium .features__list .list-item__licence, .pricing__premium .features__list .list-item__support {
  line-height: 30px;
  margin-bottom: 0.625em;
}
.pricing__basic .features__list .list-item__capacity .feat__item, .pricing__basic .features__list .list-item__subDom .feat__item, .pricing__basic .features__list .list-item__mail .feat__item, .pricing__basic .features__list .list-item__licence .feat__item, .pricing__basic .features__list .list-item__support .feat__item, .pricing__professional .features__list .list-item__capacity .feat__item, .pricing__professional .features__list .list-item__subDom .feat__item, .pricing__professional .features__list .list-item__mail .feat__item, .pricing__professional .features__list .list-item__licence .feat__item, .pricing__professional .features__list .list-item__support .feat__item, .pricing__premium .features__list .list-item__capacity .feat__item, .pricing__premium .features__list .list-item__subDom .feat__item, .pricing__premium .features__list .list-item__mail .feat__item, .pricing__premium .features__list .list-item__licence .feat__item, .pricing__premium .features__list .list-item__support .feat__item {
  display: inline;
  font-family: "open sans";
  font-weight: 400;
  font-size: 0.9rem;
  margin-left: 0.3em;
}
.pricing__basic .price-title, .pricing__basic .prices, .pricing__professional .price-title, .pricing__professional .prices, .pricing__premium .price-title, .pricing__premium .prices {
  width: 45%;
  float: left;
}
.pricing__basic .price-title .title--price-title, .pricing__basic .prices .title--price-title, .pricing__professional .price-title .title--price-title, .pricing__professional .prices .title--price-title, .pricing__premium .price-title .title--price-title, .pricing__premium .prices .title--price-title {
  font-family: "raleway";
  font-weight: 700;
  font-size: 1.3rem;
  color: #13253B;
}
.pricing__basic .price-title .amount--basic-color, .pricing__basic .prices .amount--basic-color, .pricing__professional .price-title .amount--basic-color, .pricing__professional .prices .amount--basic-color, .pricing__premium .price-title .amount--basic-color, .pricing__premium .prices .amount--basic-color {
  color: #FB3B64;
}
.pricing__basic .price-title .amount--professional-color, .pricing__basic .prices .amount--professional-color, .pricing__professional .price-title .amount--professional-color, .pricing__professional .prices .amount--professional-color, .pricing__premium .price-title .amount--professional-color, .pricing__premium .prices .amount--professional-color {
  color: #07ACE6;
}
.pricing__basic .price-title .amount--premium-color, .pricing__basic .prices .amount--premium-color, .pricing__professional .price-title .amount--premium-color, .pricing__professional .prices .amount--premium-color, .pricing__premium .price-title .amount--premium-color, .pricing__premium .prices .amount--premium-color {
  color: #55DFB4;
}
.pricing__basic .price-title .limitedOffer, .pricing__basic .prices .limitedOffer, .pricing__professional .price-title .limitedOffer, .pricing__professional .prices .limitedOffer, .pricing__premium .price-title .limitedOffer, .pricing__premium .prices .limitedOffer {
  font-family: "raleway";
  font-weight: 700;
  font-size: 0.8rem;
}
.pricing__basic .price-title, .pricing__professional .price-title, .pricing__premium .price-title {
  padding: 3.5em 0.6em 0;
  margin-top: 0.6em;
}
.pricing__basic .prices, .pricing__professional .prices, .pricing__premium .prices {
  padding: 0 0.6em 2em;
}
.pricing__basic .btn--basic-format, .pricing__professional .btn--basic-format, .pricing__premium .btn--basic-format {
  background-color: #FB3B64;
}
.pricing__basic .btn--professional-format, .pricing__professional .btn--professional-format, .pricing__premium .btn--professional-format {
  background-color: #07ACE6;
}
.pricing__basic .btn--premium-format, .pricing__professional .btn--premium-format, .pricing__premium .btn--premium-format {
  background-color: #55DFB4;
}
.pricing__basic:hover {
  width: 100%;
  box-shadow: 5px 10px 27px rgba(251, 59, 100, 0.4392156863);
}
.pricing__professional:hover {
  width: 100%;
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.4392156863);
}
.pricing__premium:hover {
  width: 100%;
  box-shadow: 5px 10px 27px rgba(85, 223, 180, 0.5215686275);
}
.pricing .basic--border-color {
  border-color: #FB3B64;
}
.pricing .professional--border-color {
  border-color: #07ACE6;
}
.pricing .premium--border-color {
  border-color: #55DFB4;
}

@media only screen and (min-width: 1000px) {
  .pricing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    padding: 5em;
  }
  .pricing__title {
    width: 100%;
  }
  .pricing__basic, .pricing__professional, .pricing__premium {
    width: 25%;
    display: flex;
    flex-direction: column;
    height: 26.5em;
    padding-top: 1em;
  }
  .pricing__basic .features, .pricing__professional .features, .pricing__premium .features {
    order: 3;
    text-align: center;
  }
  .pricing__basic .price-title, .pricing__professional .price-title, .pricing__premium .price-title {
    padding: 0 0.6em;
  }
  .pricing__basic .prices {
    padding: 0 0.6em 2.8em;
  }
  .pricing__btn {
    order: 4;
  }
  .pricing__basic:hover, .pricing__professional:hover, .pricing__premium:hover {
    width: 26%;
    height: 29.5em;
  }
  .pricing__basic:hover .features, .pricing__professional:hover .features, .pricing__premium:hover .features {
    margin-bottom: 4.375em;
  }
}
/* MOBILE */
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  min-width: 320px;
  text-align: center;
}

.btn {
  padding: 1.2em 4em;
  border-radius: 23px;
  border: none;
  background-color: grey;
  color: #FFFFFF;
  font-family: "open sans";
  font-size: 0.85rem;
  font-weight: 700;
}

.amount {
  font-family: "open sans";
  font-weight: 300;
  font-size: 3rem;
}

.contact {
  width: 90%;
  margin-bottom: 1.25em;
  text-align: left;
}
.contact__title, .contact__data, .contact__form {
  margin-bottom: 1.25em;
}
.contact__title #anyQuestion, .contact__data #anyQuestion, .contact__form #anyQuestion {
  font-family: "raleway";
  font-weight: 400;
  font-size: 3rem;
}
.contact__title p, .contact__data p, .contact__form p {
  display: inline;
  line-height: 27px;
  font-family: "open sans";
  font-weight: 600;
  font-size: 1rem;
  color: #A5A5A5;
}
.contact__title img, .contact__data img, .contact__form img {
  width: 27px;
  height: 27px;
  vertical-align: bottom;
}
.contact__title #leaveMail, .contact__data #leaveMail, .contact__form #leaveMail {
  font-family: "open sans";
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
}
.contact__data-mail, .contact__data-phone {
  padding: 0.3em 0;
}
.contact__form {
  width: 100%;
  min-height: 26em;
}
.contact__form .nameInput, .contact__form .emailInput, .contact__form .consentCheck {
  margin-bottom: 1.25em;
}
.contact__form .nameInput #nameLabel, .contact__form .nameInput #emailLabel, .contact__form .nameInput input[type=text], .contact__form .nameInput input[type=email], .contact__form .emailInput #nameLabel, .contact__form .emailInput #emailLabel, .contact__form .emailInput input[type=text], .contact__form .emailInput input[type=email], .contact__form .consentCheck #nameLabel, .contact__form .consentCheck #emailLabel, .contact__form .consentCheck input[type=text], .contact__form .consentCheck input[type=email] {
  display: block;
  width: 100%;
  margin-bottom: 1.25em;
}
.contact__form .nameInput #nameLabel, .contact__form .nameInput #emailLabel, .contact__form .emailInput #nameLabel, .contact__form .emailInput #emailLabel, .contact__form .consentCheck #nameLabel, .contact__form .consentCheck #emailLabel {
  font-size: 0.7rem;
  font-weight: 600;
  font-family: "open sans";
  color: #08A6E4;
  letter-spacing: 0.2rem;
}
.contact__form .nameInput #name, .contact__form .nameInput #email, .contact__form .emailInput #name, .contact__form .emailInput #email, .contact__form .consentCheck #name, .contact__form .consentCheck #email {
  border: none;
  border-bottom: 1px solid #95989A;
}
.contact__form .nameInput #inputDiv, .contact__form .emailInput #inputDiv, .contact__form .consentCheck #inputDiv {
  float: left;
  width: 10%;
  margin-right: 0.6em;
  margin-bottom: 12.5em;
}
.contact__form .nameInput #inputDiv #consent, .contact__form .emailInput #inputDiv #consent, .contact__form .consentCheck #inputDiv #consent {
  border-color: #95989A;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  margin-top: 0.3em;
}
.contact__form .nameInput #labelDiv, .contact__form .emailInput #labelDiv, .contact__form .consentCheck #labelDiv {
  width: 90%;
  margin-right: 0;
  margin-left: 1.5em;
}
.contact__form .nameInput #labelDiv #consentLabel, .contact__form .emailInput #labelDiv #consentLabel, .contact__form .consentCheck #labelDiv #consentLabel {
  font-family: "open sans";
  font-weight: 400;
  color: #707070;
  font-size: 0.8rem;
}
.contact__form .btn--submit-format {
  padding: 1.5em 8em;
  border-radius: 35px;
  background-color: #08A6E4;
  float: right;
  margin-bottom: 1.25em;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.1607843137);
}

.footer {
  width: 100%;
  height: 6em;
  box-shadow: 0 -5px 40px rgba(0, 0, 0, 0.2901960784);
}
.footer__logo {
  width: 60%;
  float: left;
  text-align: left;
  margin: 1.3em 0 0 1.3em;
}
.footer__logo #foot-title {
  color: #08A6E4;
  font-family: "Raleway";
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 30px;
}
.footer__logo #foot-pageRights {
  color: #A5A5A5;
  font-family: "open sans";
  font-size: 0.7rem;
  font-weight: 400;
}
.footer__socialMedia {
  width: 30%;
  float: right;
  text-align: center;
  margin-top: 1.8em;
}
.footer__socialMedia #twitter, .footer__socialMedia #facebook {
  margin: 0.3em;
}

/* DESKTOP */
@media only screen and (min-width: 1000px) {
  .main__img .image {
    width: 90%;
  }
}

/*# sourceMappingURL=styles.css.map */
