@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'styles/header.scss';
@import 'styles/opening-section.scss';
@import 'styles/popular-data.scss';
@import 'styles/groups.scss';
@import 'styles/pricing.scss';
@import 'styles/contact.scss';
@import 'styles/footer.scss';
@import 'styles/currencySelect.scss';
@import 'styles/slider.scss';

$whiteColor: #FFFFFF;

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
body {
    min-width: 320px;
    text-align: center;
}
.btn {
    padding: 1.2em 4em;
    border-radius: 23px;
    border: none;
    background-color: grey;
    color: $whiteColor;
    font-family: "open sans";
    font-size: 0.85rem;
    font-weight: 700;
    cursor: pointer;
}
.amount {
    font-family: "open sans";
    font-weight: 300;
    font-size: 3rem;
}
#pageScroll {
    display: none;
    height: 0.3em;
    position: fixed;
    background-color: $oxygenColor;
    border-top-right-radius: 4em;
    border-bottom-right-radius: 4em;
}
.returnToTop{
    text-align: right;
    margin-right: 5em;
    margin-bottom: $bottom;
    

    .btn_returnTop {
        border-radius: 50%;
        width: 4em;
        height: 4em;
        padding: 0;
        background-color: $oxygenColor;
        box-shadow: 5px 5px 2px #07ACE629;
    }
}


@media only screen and (min-width: 1000px) {

    .main__img {
        .image {
            width: 90%;
        }
    }
}
