@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$oxygenColor: #08A6E4;
$basicColor: #FB3B64;
$proColor: #07ACE6;
$premiumColor: #55DFB4;
$whiteColor: #FFFFFF;
$blackColor: #000000;
$lightGreyColor: #A5A5A5;
$priceTitles: #13253B;
$regPadding: 0 1.5em;
$bottom: 1.25em;

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
body {
    min-width: 320px;
    text-align: center;
}
.btn {
    padding: 1.2em 4em;
    border-radius: 23px;
    border: none;
    background-color: grey;
    color: $whiteColor;
    font-family: "open sans";
    font-size: 0.85rem;
    font-weight: 700;
}
.amount {
    font-family: "open sans";
    font-weight: 300;
    font-size: 3rem;
}
.header {
    width: 100%;
    min-height: 5em;
    box-shadow: 0 3px 6px #0000004A;
    text-align: center;
    margin-bottom: $bottom * 5;
    
    &__title, &__menu-logo {
        display: inline;
        margin-bottom: $bottom;
    }
    &__title {
        width: 70%;
        float: left;
        
        #headTitle {
            font-family: "raleway";
            font-weight: 300;
            font-size: 2rem;
            margin: 0.5em 0;
            color: $oxygenColor;
        }
    }
    &__menu-logo {
        width: 20%;
        float: right;

        #menuLogo {
            width: 20px;
            height: 12px;
            margin: 1.8em 0;
        }
    }
    &__menu {
        clear: both;
        display: none;

        &-nav{
            margin-bottom: $bottom;
            padding: 1.5em;
            text-align: left;

            .navList {
                list-style: none;

                &__item {
                    margin-bottom: $bottom;

                    a {
                        text-decoration: none;
                        font-family: "open sans";
                        font-weight: 700;
                        font-size: 0.7rem;
                        letter-spacing: 0.2rem;
                        color: $lightGreyColor;
                    }
                    a:hover {
                        color: $blackColor;
                    }
                }
            }
        }
    }
}
.opening-section {
    width: 80%;
    margin-bottom: $bottom;

    &__title {
        margin-bottom: $bottom;

        h2{
            font-family: "raleway";
            font-weight: 400;
            font-size: 2rem;
        }
    }
    &__descrip {
        padding: $regPadding;
        margin-bottom: $bottom;

        p {
            font-family: "open sans";
            font-weight: 400;
            font-size: 1rem;
        }
    }
    .btn--section-opening {
        padding: 1.5em 5.5em;
        border-radius: 40px;
        background-color: $oxygenColor;
        box-shadow: 5px 10px 14px #07ACE629;
        font-size: 1rem;
    }
}
.popular-data {
    width: 80%;
    margin-bottom: $bottom;

    &__title {
        padding: $regPadding;
        margin-bottom: $bottom*2;

        #data-title {
            font-family: "raleway";
            font-weight: 300;
            font-size: 1.9rem;
        }
    }
    &__column1, &__column2, &__column3 {
        width: 100%;
        margin-bottom: $bottom;

        .column1__img, .column1__descrip, .column2__img, .column2__descrip, .column3__img, .column3__descrip {
            width: 60%;
            margin-bottom: math.div($bottom, 2);

            .quantity {
                font-family: "raleway";
                font-weight: 800;
                font-size: 1.3rem;
                letter-spacing: 0.4rem;
                margin-bottom: math.div($bottom, 2);
            }
            .quantity-descrip {
                font-family: "raleway";
                font-weight: 400;
                font-size: 1.05rem;
                color: $lightGreyColor;
            }
            .ellipse_img {
                &--ellipse1-position, &--ellipse3-position{
                    margin-left: -1em;
                }
                &--ellipse2-position{
                    margin-left: -0.9em;
                }
            }
            .person-img {
                position: absolute;
                margin-left: -2em;
                margin-top: 0.2em;
            }
            .eye-img {
                position: absolute;
                margin-left: -2.5em;
                margin-top: 0.8em;
            }
            .catalog-img {
                position: absolute;
                margin-left: -1.9em;
                margin-top: 0.4em;
            }
            
        };
    }
}
.groups{
    width: 80%;
    margin-bottom: $bottom;

    .group1, .group2, .group3 {
        text-align: left;
        margin-bottom: $bottom;
        padding: 0.9em;

        &__img {
            text-align: center;
        }
        &__img, &__title, &__descrip {
            margin-bottom: $bottom;

            .group-title {
                font-family: "raleway";
                font-weight: 400;
                font-size: 1.9rem;
            }
            .group__descrip-txt {
                font-family: "open sans";
                font-weight: 400;
                font-size: 0.9rem;
            }
            #macbook {
                position: absolute;
                margin-top: 4em;
                margin-left: 1.5em;
            }
            #frame {
                margin: 1.6em 0 1.6em 7em;
            }
            #iphone {
                position: absolute;
                margin: 0.5em 0 0 -8.2em;
            }
            #ellipse {
                margin-left: -2em;
            }
            #trumpet {
                position: absolute;
                margin: 1.6em 0 0 -0.5em;
            }
        }
    }
}
.pricing {
    width: 80%;
    margin-bottom: $bottom;

    &__title {
        margin-bottom: $bottom;

        .title--pricing-title {
            font-family: "raleway";
            font-weight: 400;
            font-size: 2rem;
        }
    }
    &__btn {
        width: 100%;
        clear: both;
    }
    &__basic, &__professional, &__premium {
        width: 90%;
        margin-bottom: $bottom * 2;
        border: solid 1px;
        border-radius: 18px;
        height: 251px;

        .features{
            width: 50%;
            height: 80%;
            margin-bottom: $bottom;
            float: right;
            text-align: left;
            

            &__list {
                list-style: none;
                padding-top: 1em;


                .list-item {

                    &__capacity, &__subDom, &__mail, &__licence, &__support {
                        line-height: 30px;
                        margin-bottom: math.div($bottom, 2);

                        .feat__item {
                            display: inline;
                            font-family: "open sans";
                            font-weight: 400;
                            font-size: 0.9rem;
                            margin-left: 0.3em;
                        }
                    }
                }
            }
        }
        .price-title, .prices {
            width: 45%;
            float: left;

            .title--price-title {
                font-family: "raleway";
                font-weight: 700;
                font-size: 1.3rem;
                color: $priceTitles;
            }
            .amount--basic-color {
                color: $basicColor;
            }
            .amount--professional-color {
                color: $proColor;
            }
            .amount--premium-color {
                color: $premiumColor;
            }
            .limitedOffer {
                font-family: "raleway";
                font-weight: 700;
                font-size: 0.8rem;
            }
        }
        .price-title{
            padding: 3.5em 0.6em 0;
            margin-top: 0.6em;
        }
        .prices {
            padding: 0 0.6em 2em;
        }
        .btn--basic-format{
            background-color: $basicColor;
        }
        .btn--professional-format {
            background-color: $proColor;
        }
        .btn--premium-format {
            background-color: $premiumColor;
        }
    }
    &__basic:hover {
        width: 100%;
        box-shadow: 5px 10px 27px #FB3B6470;
    }
    &__professional:hover {
        width: 100%;
        box-shadow: 5px 10px 27px #07ACE670;
    }
    &__premium:hover {
        width: 100%;
        box-shadow: 5px 10px 27px #55DFB485;
    }
    .basic--border-color {
        border-color: $basicColor;
    }
    .professional--border-color {
        border-color: $proColor;
    }
    .premium--border-color {
        border-color: $premiumColor;
    }
}
.contact {
    width: 90%;
    margin-bottom: $bottom;
    text-align: left;

    &__title, &__data, &__form {
        margin-bottom: $bottom;

        #anyQuestion {
            font-family: "raleway";
            font-weight: 400;
            font-size: 3rem;
        }
        p {
            display: inline;
            line-height: 27px;
            font-family: "open sans";
            font-weight: 600;
            font-size: 1rem;
            color:$lightGreyColor;
        }
        img {
            width: 27px;
            height: 27px;
            vertical-align: bottom;
        }
        #leaveMail {
            font-family: "open sans";
            font-weight: 400;
            font-size: 1rem;
            color: $blackColor;
        }
    }
    &__data-mail, &__data-phone {
        padding: 0.3em 0;
    }
    &__form {
        width: 100%;
        min-height: 26em;
        
        .nameInput, .emailInput, .consentCheck {
            margin-bottom: $bottom;

            #nameLabel, #emailLabel, input[type=text], input[type=email] {
                display: block;
                width: 100%;
                margin-bottom: $bottom;
            }
            #nameLabel, #emailLabel{
                font-size: 0.7rem;
                font-weight: 600;
                font-family: "open sans";
                color: $oxygenColor;
                letter-spacing: 0.20rem;
            }
            #name, #email {
                border: none;
                border-bottom: 1px solid #95989A;
            }
            #inputDiv {
                float: left;
                width: 10%;
                margin-right: 0.6em;
                margin-bottom: $bottom * 10;

                #consent {
                    border-color: #95989A;
                    border-radius: 4px;
                    width: 24px;
                    height: 24px;
                    margin-top: 0.3em;
                }
            }
            #labelDiv {
                width: 90%;
                margin-right: 0;
                margin-left: 1.5em;

                #consentLabel {
                    font-family: "open sans";
                    font-weight: 400;
                    color: #707070;
                    font-size: 0.8rem;
                }
            }
        }
        .btn--submit-format {
            padding: 1.5em 8em;
            border-radius: 35px;
            background-color: $oxygenColor;
            float: right;
            margin-bottom: $bottom;
            box-shadow: 5px 10px 14px #07ACE629;
        }
    }
}
.footer {
    width: 100%;
    height: 6em;
    box-shadow: 0 -5px 40px #0000004A;

    &__logo {
        width: 60%;
        float: left;
        text-align: left;
        margin: 1.3em 0 0 1.3em;

        #foot-title {
            color: $oxygenColor;
            font-family: "Raleway";
            font-size: 1.7rem;
            font-weight: 300;
            line-height: 30px;
        }
        #foot-pageRights {
            color: $lightGreyColor;
            font-family: "open sans";
            font-size: 0.7rem;
            font-weight: 400;
        }
    }
    &__socialMedia{
        width: 30%;
        float: right;
        text-align: center;
        margin-top: 1.8em;

        #twitter, #facebook {
            margin: 0.3em;
        }
    }
}

