.contact {
    width: 90%;
    margin-bottom: $bottom;
    text-align: left;

    &__text_title, &__text_data, &__form {
        margin-bottom: $bottom;

        #anyQuestion {
            font-family: "raleway";
            font-weight: 400;
            font-size: 3rem;
        }
        p {
            display: inline;
            line-height: 27px;
            font-family: "open sans";
            font-weight: 600;
            font-size: 1rem;
            color:$lightGreyColor;
        }
        img {
            width: 27px;
            height: 27px;
            vertical-align: bottom;
        }
        #leaveMail {
            font-family: "open sans";
            font-weight: 400;
            font-size: 1rem;
            color: $blackColor;
        }
    }
    &__text_data-mail, &__text_data-phone {
        padding: 0.3em 0;
    }
    &__form {
        width: 100%;
        min-height: 25em;
        position: relative;
        
        .nameInput, .emailInput, .consentCheck {
            margin-bottom: $bottom;

            #nameLabel, #emailLabel, input[type=text], input[type=email] {
                display: block;
                width: 100%;
                margin-bottom: $bottom;
            }
            #nameLabel, #emailLabel{
                font-size: 0.7rem;
                font-weight: 600;
                font-family: "open sans";
                color: $oxygenColor;
                letter-spacing: 0.20rem;
            }
            #name, #email {
                border: none;
                border-bottom: 1px solid #95989A;
            }
            #inputDiv {
                position: absolute;
                left: 1em;
                margin-bottom: $bottom * 5;

                #consent {
                    border-color: #95989A;
                    border-radius: 4px;
                    width: 24px;
                    height: 24px;
                    margin-top: 0.3em;
                }
            }
            #labelDiv {
                position: absolute;
                width: 80%;
                left: 3.5em;

                #consentLabel {
                    font-family: "open sans";
                    font-weight: 400;
                    color: #707070;
                    font-size: 0.8rem;
                }
            }
        }
        .btn--submit-format {
            position: absolute;
            bottom: -4em;
            right: 0.5em;
            padding: 1.5em 8em;
            border-radius: 35px;
            background-color: $oxygenColor;
            margin-bottom: $bottom;
            box-shadow: 5px 10px 14px #07ACE629;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 70%;

        &__text{
            margin: 0;
            width: 40%;

            &_data {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: flex-start;
            }
            &_data-mail, &_data-phone {
                margin-left: 0;
                margin-right: 1em;
            }
        }
        &__form {
            margin: 0;
            width: 40%;
        }
    }
}