$oxygenColor: #08A6E4;
$lightGreyColor: #A5A5A5;

.footer {
    width: 100%;
    height: 6em;
    box-shadow: 0 -5px 40px #0000004A;
    position: relative;

    &__logo {
        width: 60%;
        position: absolute;
        top: 1.5em;
        left: 2em;
        text-align: left;

        #foot-title {
            color: $oxygenColor;
            font-family: "Raleway";
            font-size: 1.7rem;
            font-weight: 300;
        }
        #foot-pageRights {
            color: $lightGreyColor;
            font-family: "open sans";
            font-size: 0.7rem;
            font-weight: 400;
        }
    }
    &__socialMedia{
        width: 30%;
        position: absolute;
        right: 1em;
        top: 2em;
        text-align: center;

        .socialMedia__icon {
            margin: 0.3em;
        }
    }
}

@media only screen and (min-width: 1000px) {

    .footer {
        display: flex;
        align-items: center;
        background-color: #F7F7F7;

        &__logo {
            left: 3em;
        }
        &__socialMedia {
            right: 6em;
            display: flex;
            align-items: center;
            width: 10%;
        }
    }
}