$basicColor: #FB3B64;
$proColor: #07ACE6;
$premiumColor: #55DFB4;
$borderColorGroups: #E8E9ED;

.groups{
    width: 80%;
    margin-bottom: $bottom;

    .group1, .group2, .group3 {
        text-align: left;
        margin-bottom: $bottom;
        padding: 0.9em;

        &__img {
            text-align: center;
        }
        &__img, &__title, &__descrip {
            margin-bottom: $bottom;

            .group-title {
                font-family: "raleway";
                font-weight: 400;
                font-size: 1.9rem;
            }
            .group__descrip-txt {
                font-family: "open sans";
                font-weight: 400;
                font-size: 0.9rem;
            }
            #macbook {
                position: absolute;
                margin-top: 4em;
                margin-left: 1.5em;
            }
            #frame {
                margin: 1.6em 0 1.6em 7em;
            }
            #iphone {
                position: absolute;
                margin: 0.5em 0 0 -8.2em;
            }
            #ellipse {
                margin-left: -2em;
            }
            #trumpet {
                position: absolute;
                margin: 1.6em 0 0 -2.5em;
            }
            #rectangle {
                margin-left: -1.8em;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .groups{
        width: 100%;
        background-color: #F7F7F7;
        
        .group1, .group2, .group3 {
            border: 1px solid $borderColorGroups;
            margin: 5em;
        }
        .group1 {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            
            &__img{
                text-align: left;
                margin: 0 5em;

                #macbook {
                    margin-left: -2em;
                    margin-bottom: -0.5em;
                }
                #frame {
                    margin-left: 9em;
                    margin-top: -0.7em;
                }
            }
            .group__text {
                padding-top: 3em;

                .group__descrip-txt {
                    margin-right: 19em;
                }
                .group1__descrip--border-color {
                    width: 45%;
                    height: 0.3em;
                    background-color: $basicColor;
                    margin-top: 3em;
                    margin-left: 0;

                }
            }
                
        }
        .group2 {
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            &__img {
                margin: 0 5em;

                #iphone {
                    margin-left: -20em;
                    margin-top: 1.5em;
                }
            }
            .group__text {
                padding: 5em 2em 0 20em;
                margin-right: 0;

                .group2__title {
                    margin-right: 12em;
                }
                .group__descrip-txt {
                        margin-right: 2em;
                    }
                
                .group2__descrip--border-color {
                    width: 72%;
                    height: 0.3em;
                    background-color: $proColor;
                    margin-top: 3em;
                    margin-left: 0;
                }
            }
        }
        .group3 {
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            &__img {
                margin: 0 0 0 5em;

                #trumpet {
                    margin-top: 6em;
                    margin-left: 4em;
                }
            }
            .group__text {
                padding-top: 3em;
                margin-right: 5em;

                .group3__title {
                    margin-right: 20em;
                }
                .group__descrip-txt {
                    margin-right: 15em;
                }
                .group3__descrip--border-color {
                    width: 48.5%;
                    height: 0.3em;
                    background-color: $premiumColor;
                    margin-top: 3em;
                    margin-left: 0;
                }
            }
        }
    }
}