$whiteColor: #FFFFFF;
$basicColor: #FB3B64;
$proColor: #07ACE6;
$premiumColor: #55DFB4;
$priceTitles: #13253B;
$bottom: 1.25em;

.pricing {
    width: 80%;
    margin-bottom: $bottom;

    &__title {
        margin-bottom: $bottom;

        .title--pricing-title {
            font-family: "raleway";
            font-weight: 400;
            font-size: 2rem;
        }
    }
    &__btn {
        position: relative;
        bottom: -10em;
    }
    &__basic, &__professional, &__premium {
        margin-bottom: $bottom * 2;
        border: solid 1px;
        border-radius: 18px;
        min-height: 15em;

        .features{
            position: relative;
            margin-bottom: $bottom;
            text-align: left;
            padding: 1em;
            

            &__list {
                width: 40%;
                list-style: none;
                position: absolute;
                right: 0.5em;
                top: 2em;


                .list-item {

                    &__capacity, &__subDom, &__mail, &__licence, &__support {
                        margin-bottom: math.div($bottom, 2);

                        .feat__item {
                            display: inline;
                            font-family: "open sans";
                            font-weight: 400;
                            font-size: 0.7rem;
                            margin-left: 0.3em;
                        }
                    }
                }
            }
        }
        .price-title, .prices {
            position: absolute;
            width: 35%;

            .title--price-title {
                font-family: "raleway";
                font-weight: 700;
                font-size: 1.3rem;
                color: $priceTitles;
            }
            .amount--basic-color {
                color: $basicColor;
            }
            .amount--professional-color {
                color: $proColor;
            }
            .amount--premium-color {
                color: $premiumColor;
            }
            .limitedOffer {
                font-family: "raleway";
                font-weight: 700;
                font-size: 0.8rem;
            }
        }
        .price-title{
            left: 3em;
            margin-bottom: $bottom;
            margin-top: 1em;
        }
        .prices {
            left: 2.8em;
            margin-top: 2em;
        }
        .btn--basic-format{
            background-color: $basicColor;
        }
        .btn--professional-format {
            background-color: $proColor;
        }
        .btn--premium-format {
            background-color: $premiumColor;
        }
    }
    &__basic .prices {
        padding-bottom: 0.934em;
    }
    &__basic:hover {
        width: 100%;
        box-shadow: 5px 10px 27px #FB3B6470;
    }
    &__professional:hover {
        width: 100%;
        box-shadow: 5px 10px 27px #07ACE670;
    }
    &__premium:hover {
        width: 100%;
        box-shadow: 5px 10px 27px #55DFB485;
    }
    .basic--border-color {
        border-color: $basicColor;
    }
    .professional--border-color {
        border-color: $proColor;
    }
    .premium--border-color {
        border-color: $premiumColor;
    }
}

@media only screen and (min-width: 1000px) {
    .pricing {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        height:90%;
        justify-content: space-evenly;
        align-items: center;
        padding: 5em;

        &__title {
            width: 100%;
        }
        &__basic, &__professional, &__premium {
            display: flex;
            width: 30%;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            padding: 2em;
            height: max-content;
            
            .features {
                order: 3;
                text-align: center;
                padding: 0;
                margin: 0;
                margin-bottom: $bottom;

                &__list {
                    width: 90%;
                    position: static; 
                    margin: 0;   
    
                    .list-item {
                        margin-bottom: 0.5em;
    
                        &__capacity, &__subDom, &__mail, &__licence, &__support {
                            margin: 0;
                        }
                    }
                }
            }
            .price-title, .prices {
                position: static;
                width: 90%;
                margin: 0;
                margin-bottom: $bottom;

            }
        }
        &__btn {
            order: 4;
            position: static;
            margin-bottom: -3.5em;
        }
        &__basic:hover, &__professional:hover, &__premium:hover {
            width: 31%;
            height: 26em;
        }
    }
}